<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:dist="http://schemas.android.com/apk/distribution">

  <dist:module
    dist:instant="false"
    dist:title="@string/feature_title_fill_memory">
    <dist:delivery>
      <dist:on-demand />
    </dist:delivery>
    <dist:fusing dist:include="true" />
  </dist:module>

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:largeHeap="true">
    <activity
      android:name=".FillMemoryActivity"
      android:exported="false" />

    <service
      android:name=".ui.home.floater.service.FloaterService"
      android:enabled="true"
      android:exported="false"
      android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
  </application>

</manifest>
